/* SETTING FONTS */
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* COMMON STYLES */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  	margin: 0;
	padding: 0;
	border: 0;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	max-width: 100%;
}
*, *::before, *::after {
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: Avenir, sans-serif;
}
a {
	text-decoration: none;
	color: #000;
}
button {
	cursor: pointer;
}
body {
	display: table;
	width: 100%;
}
.wrapper {
    max-width: 1270px;
	margin: 0 auto;
	padding: 0 8rem;
}
.text {
	font-size: 1.4rem;
	font-weight: 900;
}
.title {
	font-size: 2.4rem;
	font-weight: 900;
}
.btn {
	display: inline-block;
	border: none;
	padding: 1.2rem 0.8rem;
	border-radius: 3px;
	background-color: #000;
	color: #fff;
	font-size: 1.4rem;
	cursor: pointer;
}
.btn:hover {
	background-color: #fff;
	color: #000;
	transition: 0.25s linear;
}
.input-textarea {
	border: none;
	border-radius: 3px;
	padding: 1.1rem 1rem;
}
.container {
	width: 100%;
}
.container--white {
	background-color: #fff;
}
/* END COMMON */
/* HEADER */
.header {
	display: table-header-group;
	background-color: #FFC700;
}
.header .inner {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0.3rem 0;
}
.logo {
	flex-basis: 11%;
}
.header__main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-basis: 85%;
}
.production__wrapper {
	flex-basis: 16%;
	position: relative;
}
.production {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 1.1rem .5rem 1.1rem 1rem;
	background-color: #000;
	border-radius: 3px;
	cursor: pointer;
	color: #fff;
}
.production i {
	font-size: 1rem;
}
.production:hover {
	background-color: #fff;
	color: #000;
	transition: 0.25s linear;
}
.production__checkbox {
	display: none;
}
.production__checkbox:checked ~ .production-dropdown {
	display: block;
}
.production-dropdown {
	display: none;
	position: absolute;
	top: 82%;
	left: 0;
	background-color: #fff;
	z-index: 2;
	padding: 2rem 1rem;
	color: #fff;
	border-radius: 3px;
	padding-bottom: 0;
}
.production-dropdown:hover {
	background-color: #fff;
	color: #000;
	transition: 0.25s linear;
}
.production-dropdown__list {
	display: flex;
	flex-direction: column;
}
.production-dropdown__list .text {
	margin-bottom: 1rem;
}
.production-dropdown__list .text:hover {
	color: #FFC700;
	transition: 0.25s linear;
}
.header__info {
	display: flex;
	flex-direction: column;
	flex-basis: 83%;
	justify-content: space-between;
}
.header__top {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.search__wrapper {
	margin-right: 0.7rem;
	flex-grow: 1;
}
.search__form {
	position: relative;
}
.search__form .input-textarea {
	width: 100%;
}
.search__form .btn {
	position: absolute;
	background-color: #fff;
	top: 0;
    left: 91.5%;
	border: none;
    color: #000;
}
.btw__wrapper {
	margin-right: 0.7rem;
}
.btw__inner {
	display: flex;
	position: relative;
	cursor: pointer;
}
.btw__inner input {
	display: none;
}
.excl-btw .black-square:hover {
	background-color: #FE4C4C;
	transition: 0.25s linear;
}
.incl-btw .black-square:hover {
	background-color: #34CA21;
	transition: 0.25s linear;
}
.btw-checkbox:checked + .incl-btw {
	display: flex;
}
.excl-btw {
	display: flex;
}
.incl-btw {
	display: none;
	position: absolute;
}
.excl-btw__text, .incl-btw__text {
	padding: 0.55rem;
	background-color: #fff;
	font-size: 1.2rem;
	line-height: 1.33;
	font-weight: 900;
	color: #000;
	border-radius: 3px;
}
.incl-btw__text {
	padding-right: 0.9rem;
}
.black-square {
	width: 41px;
	background-color: #000;
	border-radius: 3px;
}
.profile__wrapper {
	cursor: pointer;
	margin-right: 1rem;
}
.profile {
	display: flex;
	color: #000;
	align-items: center;
	justify-content: center;
	padding: 1.1rem 1rem;
	background-color: #fff;
	border-radius: 3px;
}
.profile:hover {
	color: #fff;
	background-color: #000;
	transition: 0.25s linear;
}
.profile__icon {
	margin-right: 6px;
}
.cart__wrapper {
	cursor: pointer;
}
.cart:hover {
	color: #000;
	background-color: #fff;
	transition: 0.25s linear;
}
.cart {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #000;
	padding: 0.4rem 2.3rem;
	color: #fff;
	border-radius: 3px;
	height: 100%;
}
.cart i {
	font-size: 1.9rem;
	margin-right: 0.8rem;
}
.cart .count {
	display: flex;
	flex-direction: column;
	font-family: 'Lato', sans-serif;
}
.cart .count i {
	font-size: 1.3rem;
	margin-right: 0;
}
.advices {
	display: flex;
	flex-direction: row;
	padding-top: 0.6rem;
	flex-wrap: wrap;
	margin-bottom: -1rem;
}
.advices__item {
	display: flex;
	flex-direction: row;
	margin-right: 2.2rem;
}
.advices__icon {
	margin: auto;
}
.advice__inner {
	display: flex;
	flex-direction: row;
	white-space: nowrap;
}
.advice__inner i {
	font-size: 13px;
	margin-right: 0.8rem;
}
.advice__inner .text {
	font-size: 1.2rem;
	font-weight: 900;
}
/* MAIN */
.main {
	display: table-row-group;
}
.main__top .inner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5rem 0 4rem 0;
	align-items: flex-start;
}
.main .production__wrapper {
	display: none;
}
/* ASIDE */
.products__wrapper {
	display: flex;
	flex-basis: 29%;
}
.products__list {
	display: flex;
	flex-direction: column;
}
.products__list .text {
	margin-bottom: 1.5rem;
}
.products__list .text:hover {
	color: #FFC700;
	transition: 0.25s linear;
}
/* END ASIDE */
/* CONTENT */
.content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-basis: 71%;
	justify-content: space-between;
}
.good__wrapper {
	display: flex;
	flex: 1 1 50%;
	padding: 0.35rem;
}
.good {
	width: 100%;
	display: flex;
	flex-wrap: wrap-reverse;
	flex-direction: row;
	background-color: #F5F5F5;
	border-radius: 3px;
	padding: 5rem 3rem;
	align-items: center;
}
.good--big .good {
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.good--big .good__media {
	flex-basis: 32%;
}
.good--small {
	flex: 1 1 18%;
}
.good--small .good {
	justify-content: center;
	padding: 2rem 1rem;
} 
.good__info {
	flex-basis: 64%;
	justify-content: center;
}
.good--big .title {
	font-size: 3.2rem;
}
.good__info .title {
	margin-bottom: 1rem;
}
.good__media {
	display: flex;
	flex-basis: 36%;
	margin: auto;
}
.good__media img {
	margin: auto;
}
.good__contacts {
	display: flex;
	flex-direction: column;
	white-space: nowrap;
	line-height: 1.29;
}
.worktime, .telephone {
	margin-top: 2rem;
}
.contacts__table {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 0.2rem;
}
.contacts__col {
	padding-left: 2.5rem;
}
.contacts__icon {
	margin-right: 0.9rem;
}
/* END CONTENT */
/* SLIDER */
.slider .inner {
	display: flex;
	flex-direction: column;
	padding-bottom: 4rem;
}
.slider .title {
	font-size: 3.2rem;
}
.slider .title__wrapper {
	padding: 1.6rem 2.6rem;
	background-color: #F5F5F5;
	border-bottom: 2px solid #E8E8E8;
	border-radius: 3px;
}
.slider .body {
	display: flex;
	flex-direction: row;
	position: relative;
}
.slider .arrow {
	position: absolute;
	background-color: #ffc600;
	border-radius: 50%;
	width: 3.5rem;
	height: 3.5rem;
	border: none;
	z-index: 1;
}
.slider .arrow:hover {
	background-color: rgba(255, 198, 0, 0.6);
	transition: 0.3s;
}
.slider .arrow-left {
	top: 30%;
	right: 99%;
}
.slider .arrow-right {
	top: 30%;
	left: 99%;
}
.slider .arrow .icon {
	font-size: 2.5rem;
	color: #fff;
}
.slider .nav__wrapper {
	overflow: hidden;
}
.slider .nav {
	display: flex;
	position: relative;
	flex-direction: row;
	transition: left 1s ease-in-out;
	
	/* FOR ADAPTIVE */
	flex-wrap: wrap;
	justify-content: center;
	  
	/* WILL BE ANIMATED */
	/*left: -25%;*/
}
.slider .item {
	display: flex;
	flex: 0 0 20%;
	flex-direction: column;
	padding: 3.5rem;
	background-color: #F5F5F5;
	border-right: 2px solid #E8E8E8;
	padding-bottom: 2rem;
}
.slider .item:nth-child(5) {
	border-right: none;
}
.slider .media {
	flex-basis: 60%;
	margin: auto;
}
.slider .content {
	flex-basis: 40%;
	margin-top: 5rem;
}
.slider .content .price {
	font-size: 4rem;
	text-align: center;
	white-space: nowrap;
}
/* END SLIDER */
/* DELIVERY */
.delivery .inner {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding-bottom: 4rem;
	justify-content: space-between;
}
.delivery .item {
	flex: 0 0 49.8%;
	position: relative;
}
.delivery .content {
	flex-direction: column;
	position: absolute;
	top: 5%;
	left: 5%;
}
.delivery .title {
	font-size: 4rem;
	color: #fff;
}
.delivery .text {
	color: #fff;
}
/* END DELIVERY */
/* FOOTER */
.footer {
	display: table-footer-group;
}
.footer .container {
	background-color: #F5F5F5;
}
/* FOOTER TOP */
.footer .top {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	padding: 4rem 0;
}
.footer .title {
	margin-bottom: 1.5rem;
}
.footer .list {
	display: flex;
	flex-direction: column;
}
.footer .list .text:hover {
	color: #FFC700;
	transition: 0.25s linear;
}
.about-company {
	flex-basis: 26%;
}
.service {
	flex-basis: 20%;
}
.newsletter {
	flex-basis: 23%;
}
.newsletter .input-textarea, .newsletter .btn {
	width: 100%;
}
.newsletter .btn {
	margin-top: 0.5rem;
}
.partners {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 20%;
	align-items: flex-end;
	justify-content: space-between;
}
/* END FOOTER TOP */
/* FOOTER BOTTOM */
.footer .bottom {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	padding: 1rem 0;
}
.footer .rate {
	display: flex;
	flex-direction: row;
}
.footer .rate .stars {
	font-size: 1.4rem;
	color: #ffc600;
	margin-right: 1rem;
}
.footer .bottom .list {
	flex-direction: row;
}
.footer .bottom .list .text {
	padding: 0 1rem;
	border-right: 1px solid #000;
}
.footer .bottom .list .text:first-child {
	padding-left: 0;
}
.footer .bottom .list .text:last-child {
	border-right: none;
}
/* END FOOTER BOTTOM */
/* END FOOTER */
/* END MAIN
/* MEDIA QUERIES */
@media screen and (max-width: 1027px) {
	html {
		font-size: 9px;
	}
	.search__form .btn {
		left: 90%;
	}
	.advices {
		margin-bottom: 0;
	}
	.good {
		justify-content: center;
	}
}
/* TABLET */
@media screen and (max-width: 992px) {
	.wrapper {
		padding: 0px 2rem;
	}
	.header .production {
		justify-content: center;
		padding: 1.6rem 0;
	}
	.production > p.text {
		display: none;
	}
	.header .production-dropdown {
		top: 64%;
	}
	.search__form .btn {
		left: 93%;
	}
	.profile {
		padding: 1.45rem 1.45rem;
	}
	.profile > p.text {
		display: none;
	}
	.profile > i.text {
		margin: auto;
	}
	.cart {
		padding: 1.2rem 1.2rem;
	}
	.cart .count {
		display: none;
	}
	.main .inner {
		flex-direction: column;
	}
	.main__top .inner {
		padding: 2.5rem 0 2rem 0;
	}
	.main .production__wrapper {
		display: flex;
		width: 100%;
	}
	.main .production {
		width: 100%;
		justify-content: center;
	}
	.main .products__wrapper {
		display: none;
	}
	.main .production-dropdown {
		top: 98%;
	}
	.slider .inner, .delivery .inner {
		padding-bottom: 2rem;
	}
	.slider .arrow-left {
		right: 98%;
	}
	.slider .arrow-right {
		left: 98%;
	}
	.delivery .item {
		margin: auto;
	}
	.footer .top {
		padding: 2rem 0;
	}
}
@media screen and (max-width: 876px) {
	.search__form .btn {
		left: 90%;
	}
}

@media screen and (max-width: 703px) {
	.search__form .btn {
		left: 86%;
	}
	.slider .arrow-left {
		right: 97%;
	}
	.slider .arrow-right {
		left: 97%;
	}
}
/* END TABLET */
/* PHONES */
@media screen and (max-width: 576px) {
	.header .inner {
		flex-direction: column;
		position: relative;
	}
	.logo {
		align-self: flex-start;
	}
	.production__wrapper {
		flex-basis: 7%;
	}
	.header__top {
		justify-content: space-around;
	}
	.header .production-dropdown {
		top: 52%;
	}
	.black-square {
		display: none;
	}
	.excl-btw__text {
		background-color: #FE4C4C;
	}
	.incl-btw__text {
		background-color: #34CA21;
	}
	.search__wrapper {
		position: absolute;
		top: 4%;
		left: 18%;
		width: 73%;
	}
	.cart {
		padding: 1.2rem 1rem;
	}
	.good--big .title {
		font-size: 2.5rem;
	}
	.slider .arrow-left {
		right: 90%;
	}
	.slider .arrow-right {
		left: 90%;
	}
	.delivery .title {
		font-size: 3rem;
	}
	.production-dropdown {
		top: 42%;
	}
	.footer .top .inner {
		flex-basis: 47%;
	}
	.footer .title {
		font-size: 2rem;
	}
	.footer .bottom .list {
		flex-wrap: wrap;
	}
	.logo img {
		height: 43px;
	}
}
@media screen and (max-width: 330px) {
	.production__wrapper {
		flex-basis: 12%;
	}
	.header__top {
		justify-content: space-evently;
	}
	.search__wrapper {
		width: 75%;
	}
	.search__form .btn {
		left: 84%;
	}
	.header .production-dropdown {
		top: 42%;
	}
}
/* END PHONES */